@charset "ISO-8859-1";

div.collapse.navbar-collapse > ul.nav.navbar-nav.navbar-right > li.navbar-li > a.navbar-text
{
	color: #E74C3C;
	margin-bottom: 0px;
	margin-top: 0px;
}

img.bullet-img
{
	margin-bottom: 6px;
	margin-right: 6px;
	height: 30px;
}

p.logo
{
	margin-left: 30px;
	margin-bottom: 0px;
}


h2.application-name
{
	font-weight: 900;
}

a.navbar-brand.navbar-title, a.navbar-brand.navbar-title:hover, a.navbar-brand.navbar-title:focus
{
	color: #E74C3C;
	font-size: 32px;
}

.contact-page
{
	padding-bottom: 10px;
}

.icon-img
{
	padding-right: 10px;
}

.resume-title
{
	font-size: 20px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.education-row
{
	padding-bottom: 10px;
}

.resume-info
{
	padding-top: 8px;
}

.application-section
{
	margin-bottom: 24px;
}

div.hidden-application.application-section
{
	display: none;
}

footer.footer
{
	box-shadow: none;
}

footer.footer.contact-footer
{
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
}
